.movieSection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--gab);
}

.movieSection div p:nth-child(2n) {
	text-align: right;
}
.movieSection article {
	background-color: var(--third-color);
	border-radius: var(--gab);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 0 10px 0px var(--white);
}

.movieSection article:hover {
	transform: scale(1.02);
	box-shadow: 0 0 10px 0px var(--foured-color);
}
